.main-body {
  width: 50%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}
.layout {
  background-color: black;
}
@media (max-width: 800px) {
  .main-body > textarea {
    width: 200px;
    height: 200px;
  }
}
